.app-container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.app-sidebar {
    width: 220px;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 10px;
}

/* Contenu */
.app-content {
    margin-left: 220px;
    padding: 20px;
    flex: 1;
}

.content-section {
    display: none;
}
